@use './realize/reset';
@use './realize/animation';

.lin-container {
  .el-divider--horizontal {
    margin: 0;
  }

  .lin-title {
    height: 59px;
    line-height: 59px;
    color: $parent-title-color;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--theme-font-display);
    text-indent: 40px;
    border-bottom: 1px solid $table-border-color;
  }

  .lin-wrap {
    padding: 20px;
  }
}
