@import '~assets/styles/variable.scss';

// checkbox
.module-box .module .el-checkbox__label {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.module-box .is-checked .el-checkbox__label {
  color: #3963bc;
}

.el-checkbox {
  color: #666666;
}

.permissions-li .is-checked .el-checkbox__label {
  color: #3963bc;
}

.el-checkbox__inner {
  border: 1px solid #c4c0d2;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background: #3963bc;
  border: 1px solid #3963bc;
}

// radio
.el-radio__label {
  color: #333333;
}

.el-radio-group {
  padding-top: 15px;
  width: 100%;
}

.el-radio {
  width: 33%;
  margin-left: 0px !important;
  margin-bottom: 20px;
}

.el-radio__inner {
  border: 1px solid #c4c0d2 !important;
}

.el-radio__input.is-checked .el-radio__inner {
  background: #3963bc;
  border: none !important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #3963bc;
}

@media screen and (max-width: 980px) {
  .el-radio {
    width: 50%;
  }
}

// form
.el-form-item__label {
  color: #333333;
  font-weight: 500;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.el-form-item__content {
  margin-bottom: 20px;
}

.el-form--label-top .el-form-item__label {
  padding-bottom: 0px !important;
  color: $title-color;
  font-weight: 500;
}

.el-form-item {
  margin-bottom: 15px !important;
}

// button
.el-button {
  padding: 10px 20px;
}

.el-button:hover,
.el-button:focus {
  color: #4c76af;
}

.el-button--primary {
  background-color: $theme;

  .el-button--primary {
    border: 1px solid #4c76af;
  }
}

.el-button--text {
  border: 1px solid;
  border-radius: 2px !important;
  background: rgba(237, 243, 255, 1);
  width: 50px;
  height: 28px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: $theme;
}

.el-button--danger {
  color: #fff;
}

.el-button--primary:hover,
.el-button--primary:focus {
  background: #273b6f;
  border-color: #273b6f;
  color: #fff;
}

// pagination
.el-pagination__editor.el-input .el-input__inner {
  border-radius: 14px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $parent-title-color;
  color: #fff;
}

// input
.el-input-group__append {
  padding: 0 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #3963bc;
  color: #ffffff;
  border: 1px solid #3963bc;
}

.el-input-group--append .el-input__inner {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  width: 150px;
  transition: all 0.2s linear;

  &:focus {
    width: 250px;
    transition: all 0.3s linear;
  }
}

.el-input-group__append,
.el-input-group__prepend {
  padding: 0 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: $theme;
  color: #ffffff;
  border: 1px solid $theme;

  .el-icon-search {
    font-size: 18px;
  }
}

.el-input .el-input__inner {
  border: 1px solid #c4c0d2 !important;
}

// table
.el-table {
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
}

.el-table thead tr th .cell {
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.el-table__body {
  tbody {
    color: #555;
    font-weight: 400;
  }
}

thead tr {
  height: 62px;
}

tr:nth-child(odd) {
  background-color: #f8f9fa;
}

th:not(:last-child) {
  border: none !important;
}

td {
  border: none !important;
}

table {
  border-top: 1px solid #dee2e6;
}

.el-table .cell {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 20px;
}

.el-table th.is-leaf,
.el-table td {
  border-bottom: none;
}

// dialog
.el-dialog__footer {
  text-align: left;
  padding-left: 30px;
}

.el-dialog__title {
  color: $parent-title-color;
  font-size: 16px;
  font-weight: 500;
}

.el-dialog__header {
  padding-left: 30px;
}

.el-dialog__body {
  padding: 30px;
}

// tab
.el-tabs__item.is-active {
  color: #3963bc;
}

.el-tabs__item {
  color: #333;
}

// menu
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: $sidebar-width;
  text-align: left;

  .el-menu-item-group {
    .el-menu-item {
      position: relative;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        border: 1px solid $submenu-title;
        position: absolute;
        left: 45px;
        top: 23px;
      }
    }

    .el-menu-item-group__title {
      padding: 0;
    }

    .el-menu-item.is-active {
      position: relative;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: none;
        background: $theme;
        position: absolute;
        left: 45px;
        top: 23px;
      }
    }
  }
}

.el-menu-vertical-demo {
  padding-top: 20px;
}

.el-menu--vertical .abc {
  left: 70px !important;
}

.is-active {
  color: $theme !important;
}

.el-submenu__icon-arrow {
  top: 53%;
}

.app-sidebar .el-menu-item-group .el-menu-item {
  padding-left: 60px !important;
}

.el-submenu.is-active {
  .el-submenu__title {
    color: $theme !important;
    height: 50px;

    i {
      color: $theme;
    }
  }
}

.el-submenu.is-active.is-opened {
  .el-submenu__title {
    color: $submenu-title !important;
    background: $menuItem-bg !important;
    height: 50px;

    &:hover {
      background: $menuItem-hover !important;
    }

    i {
      color: $submenu-title;
    }
  }
}

.is-opened {
  .el-submenu__title {
    height: $menuItem-height;
    transition: border-color 0s, background-color 0s, color 0s;
  }

  .el-menu-item {
    background: $menuItem-bg !important;

    &:hover {
      background-color: $menuItem-hover !important;
    }
  }
}

.el-menu-item {
  //display: flex;
  //align-items: center;
  height: $menuItem-height;
  transition: border-color 0s, background-color 0s, color 0s;

  &:hover {
    background-color: $menuItem-hover;
  }
}

.el-menu--popup-right-start {
  margin-top: 5px;
  padding-bottom: 0px;

  .el-menu-item-group {
    background: red;
    margin-top: -10px;

    .el-menu-item-group__title {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

.el-menu-vertical-demo {
  border-right: 1px solid #1d2a60;
  margin-left: -2.5px;
}

.el-submenu__title {
  // display: flex;
  height: $menuItem-height;
  align-items: center;
  line-height: 50px;
  // padding-left: 17px !important;
  box-sizing: border-box;

  i {
    color: $submenu-title;
  }
}

.el-menu--collapse {
  // margin-left: -2px;
  .el-submenu.is-active {
    .el-submenu__title {
      height: $menuItem-height;
      background-color: #1d2a60 !important;

      i {
        color: $theme;
      }
    }
  }
}

.el-submenu__title * {
  vertical-align: inherit;
}

.el-menu-item * {
  vertical-align: top;
}

.router-link-active {
  .el-menu-item.is-active {
    height: $menuItem-height;
    color: $theme !important;
  }
}

// .el-tooltip {
//   padding-left: 16px !important;
//   line-height: 48px;
//   height: 50px;
// }

// .el-tooltip__popper.is-dark {
//   background: #1d2a60 !important;
// }

// layout
.el-container.is-vertical {
  background: #273b6f;
}

.el-aside {
  transition: all 0.3s linear;
}

.el-header {
  padding: 0;
  height: auto !important;
  background: #2b3b71;
  margin-bottom: 20px;
}

.el-main {
  padding: 0 20px 20px 20px;
  background: #273b6f;
}

.el-container {
  height: 100%;
}
