$theme: #3963bc;

/* 布局 */
$sidebar-width: 170px;
$sidebar-background: #192a5e;

$navbar-height: 66px;
$navbar-background: #162557;
$navbar-padding: 20px;

/* 按键 */
$button-background: #f8fafb;

$title-color: #45526b;
$parent-title-color: #3963bc;

$table-border-color: #dee2e6;

/* 菜单 */
$menuItem-hover: #0a1949;
$menuItem-bg: #122150;
$submenu-title: #c4c9d2;
$menuItem-height: 50px;