$border-color:rgba(57,99,188,1);
$border-color-hover: #666;
$border-color-light: lighten($border-color, 30%);
$border-radius: 2px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-color:#3963BC;
$button-primary-bg: #3963BC;
$button-primary-plain-color: #3963BC;
$button-success-bg: #34BFA3;
$button-success-plain-color: #34BFA3;
$button-danger-bg: #F4516C;
$button-danger-plain-color: #F4516C;
$button-info-bg: #C4C5D6;
$button-info-plain-color: #C4C5D6;
$button-height: 32px;
$color: #333;
$light-color: #666;
$font-size: 14px;
$small-font-size: 12px;
$input-height: 32px;
$red: #F1453D;
$grey: #eee;
$blue: #4a90e2;
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@mixin spin {
  animation: spin 2s infinite linear;
}