$theme: #3963bc;

/* 布局 */
$sidebar-width: 210px;
$sidebar-background: #192a5e;

$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 86px;
$reusetab-height: 40px;

$navbar-background: #BECCD8;
$appmain-background: #F9FAFB;
$header-background: #EEF4F9;
$right-side-font-color: #666666;
$reuse-tab-item-background: #FFFFFF;

$title-color: #45526b;
$parent-title-color: #3963bc;

$table-border-color: #dee2e6;

/* 菜单 */
$menuItem-hover: #0a1949;
$menuItem-bg: #122150;
$submenu-title: #c4c9d2;
$menuItem-height: 50px;